/* main */
.section-home {
    background-color: #F1FAEE;
}

.bg-navbar {
    background-color: #A8DADC !important;
}

/* navbar */
.navbar-nav .nav-item a {
    font-size: 20px;
    font-family: Poppins;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
    color: white !important;
    background-color: #4227a5;
}

/* .navbar-nav li a:before,
.navbar-nav li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
}

.navbar-nav li a:before {
    left: 0;
    transition: 0.5s;
}
.navbar-nav li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    //transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-nav li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.navbar-nav li a:hover:after {
    background: transparent;
    width: 100%;
} */

/* home page */
.split-screen-wrap {
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
}

.transbox {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /* opacity: 0.6; */
}

.content-child {
    /* vertical-align: middle;
    margin: auto;
    text-align: center; */
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flex-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.flex-child:hover {
    flex: 3;
}

.flex-child h1 {
    font-size: 42px;
    margin-top: 0;
}

/* .flex-child a {
    color: #fff;
    text-decoration: none;
    background: #4227a5;
    padding: 10px 30px;
    border-radius: 50px;
} */

.flex-child .img-wrap {
    width: 200px;
    border-radius: 100%;
}

.flex-child .img-wrap img {
    max-width: 100%;
    border-radius: 100%;
}

.header_item {
    color: #F1FAEE;
}

.title_item {
    margin-bottom: 20px;
    color: #A8DADC;
}

.btn-to-login {
    outline: none !important;
}
.btn-to-login {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
}

.btn-to-login:hover {
    background-position: right center;
}

.btn-to-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-to-login span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-to-login:hover span {
    padding-right: 25px;
}

.btn-to-login:hover span:after {
    opacity: 1;
    right: 0;
}

.child-1 {
    background-image: url('../images/admin.png');
    background-position-x: 30%;
    color: #fff;
}

.child-2 {
    background-image: url('../images/home-login.jpg');
    background-position-x: 30%;
    color: #fff;
}

.child-3 {
    background-image: url('../images/admin.png');
    background-position-x: 30%;
    color: #fff;
}

@media screen and (max-width:800px) {
    .split-screen-wrap.flex {
        /* flex-direction: column; */
    }
}
